# custom file
*.ziz*
/build
/dev
/private
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


# automake
Makefile.in

# autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.obj
*.elf



# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exe
*.i*86
*.x86_64
*.hex
